<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card card-upgrade">
      <div class="card-header text-center">
        <h4 class="card-title">Formulário de Cartão de Crédito</h4>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" placeholder="Taxa de Juros" value="">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Dia do Vencimento da Fratura</label>
                <input type="text" class="form-control" placeholder="Multa" value="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Limite Total</label>
                <input type="text" class="form-control" placeholder="Mora" value="">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Salvar</button>
              <button type="submit" class="btn btn-second btn-round">Limpar</button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


