<div class="row">

  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header">
        <h4 class="card-title"> Lista de Categoria de Gasto Cadastrado</h4>
      </div>
      <div class="col-md-6" >
        <button type="submit" href="./user.html"  class="btn btn-primary btn-round" [routerLink]="['/cadastro-categoria-gasto']" routerLinkActive="active">Novo Registro</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Categoria de Gasto
              </th>
              <th>Editar</th>
              <th>Excluir</th>
            </thead>
            <tbody>
              <tr *ngFor="let categoriaGasto of categoriasGasto">
                <td>
                  {{categoriaGasto.descricao}}
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="nc-icon nc-air-baloon"></span>
                  </button>
                </td>
                <td>
                  <button type="button"  (click)= "excluir(categoriaGasto)" class="btn btn-default btn-sm">
                    <span class="nc-icon nc-air-baloon"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
