<div class="row">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="card card-upgrade">
      <div class="card-header text-center">
        <h4 class="card-title">Formulário de Cadastro de Gasto</h4>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                    <label>Categoria de Gasto</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Selecione</option>
                        <option>Viagens</option>
                        <option>Alimentação Fora</option>
                        <option>Aquisições Diversas</option>
                        <option>Investimento/Poupança</option>
                        <option>Lazer</option>
                        <option>Outros</option>
                        <option>Presentes</option>
<option>Roupas</option>
<option>Saúde/Rémdios</option>
<option>Educação</option>
                      </select>
                  </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <label>Cartão de Crédito</label>
                      <input type="text" class="form-control" placeholder="Vencimento" value="">
                    </div>
                  </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control" placeholder="Nome" value="">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label>Valor</label>
                <input type="text" class="form-control" placeholder="Valor" value="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Vencimento</label>
                <input type="text" class="form-control" placeholder="Vencimento" value="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Quantidade de Parcelas</label>
                <input type="text" class="form-control" placeholder="Quantidade de Parcelas" value="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Data de Pagamento</label>
                <input type="text" class="form-control" placeholder="Data de Pagemento" value="">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">Salva teste</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

